/* don't shrink the music box */
#bg-music {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden !important;
}

#bg-music > * {
  flex-shrink: 0;
}

.left-content {
  overflow-y: auto !important;
}

/* Hide sound effects */
main > .live-room > .el-col.el-col-5 > div > div:nth-child(2) {
  display: none !important;
}

.aot-hide {
  display: none !important;
}

#aot-control {
  flex-shrink: 0;
}

#aot-control .el-card .item {
  padding: 15px 20px 0 20px;
}

#aot-control .el-card .item:last-child {
  padding: 15px 20px;
}

.aot--statement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aot--statement textarea {
  resize: vertical;
  font-family: sans-serif;
  flex-grow: 1;
  margin-right: 10px;
}

.aot--avatar {
  height: 55px;
  width: 55px;
  line-height: 55px;
}

.aot--avatar img {
  object-fit: cover;
}

.aot-stats {
  display: flex;
  align-items: center;
}

.aot-stats .aot-stats--name {
  flex-grow: 1;
  margin: 0 10px;
}

.aot-empty {
  color: #838383;
}
